[submodule "modules/portaudio"]
	path = modules/portaudio
	url = https://github.com/sebastian-heinz/portaudio.git
[submodule "modules/deadline_audio_engine"]
	path = modules/deadline_audio_engine
	url = https://github.com/AllaineSmithie/deadline_audio_engine.git
