################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/__pycache__
/SFZParser.windows.editor.x86_64.obj
/SFZParser.windows.editor.dev.x86_64.obj
/register_types.windows.editor.x86_64.obj
/register_types.windows.editor.dev.x86_64.obj
/juce/juce_Logger.windows.editor.x86_64.obj
/juce/juce_Logger.windows.editor.dev.x86_64.obj
/juce/juce_FloatVectorOperations.windows.editor.x86_64.obj
/juce/juce_FloatVectorOperations.windows.editor.dev.x86_64.obj
/editor/InstrumentSoundFileEditorPlugin.windows.editor.x86_64.obj
/editor/InstrumentSoundFileEditorPlugin.windows.editor.dev.x86_64.obj
/DeadlineAudioEngine.windows.editor.x86_64.obj
/DeadlineAudioEngine.windows.editor.dev.x86_64.obj
/audio_formats/resource_importer_pro.windows.editor.x86_64.obj
/audio_formats/resource_importer_pro.windows.editor.dev.x86_64.obj
/audio_formats/audio_stream_pro.windows.editor.x86_64.obj
/audio_formats/audio_stream_pro.windows.editor.dev.x86_64.obj
/AudioSampleStreamPlayer.windows.editor.x86_64.obj
/AudioSampleStreamPlayer.windows.editor.dev.x86_64.obj
/sfizz_copy_after_git_clone
